@use "../../../styles/"as *;


.buy_left {
    margin-top: 4rem;
    @include flex($d: column, $a: flex-start);
    gap: 5rem;

    &__title {
        @include flex($d: column, $a: flex-start);
        gap: .75rem;

        h2 {
            text-transform: capitalize;
        }

        p {
            padding-left: .25rem;
        }
    }

    &__content {
        @include flex($d: column, $a: flex-start);
        gap: 2.75rem;
        @include equal(100%);

        &-wrapper {
            @include debug-dark;
            width: inherit;
            border-radius: $radius + .125rem;
            padding: 1rem 1.5rem;
        }
    }

    &__from-to {
        @include debug-dark;
        @include flex($j: space-between);
        padding: 0 8% 0 2.5%;
    }

    &__price {
        @include debug-dark;
        @include flex($j: space-between, $a: flex-start);
        margin-block: 1.5rem;

        div {
            @include flex($d: column, $a: flex-start);
            gap: .5rem;
        }
    }

    &__currency {
        @include flex($j: space-between);

        >span {
            @include debug-light;
            @include flex($j: flex-start);
            gap: .5rem;
            height: 2.25rem;
            width: 8.5rem;
            border-radius: $radius - .25rem;
            padding-left: .75rem;
        }

        i {
            @include equal(1.75rem);
            @include debug-dark;
            border-radius: 50%;
        }
    }

    &__detail {
        @include debug-dark;
        @include flex;
        gap: .5rem;

        >div {
            @include flex($d: column, $a: flex-start);
            gap: 1rem;
        }

        &-1 {
            gap: 0 !important;
            align-items: center !important;

            span {
                position: relative;
                @include equal(1rem);
                @include flex;
                border-radius: 50%;

                &:first-of-type {
                    background-color: #98D076;
                }

                &:last-of-type {
                    background-color: #B06ECF;
                }

                &::before {
                    content: "";
                    position: absolute;
                    @include equal(60%);
                    border-radius: inherit;
                    background-color: white;
                }
            }

            i {
                width: .0625rem;
                height: 1.25rem;
                border-right: dashed .0313rem rgba(241, 230, 230, 0.8);
            }
        }

        &-2 {}

        &-3 {
            gap: 0 !important;

            span {
                @include equal(.75rem);
                @include flex;
                border-radius: 50%;

                &:first-of-type {
                    background-color: #B06ECF;
                }

                &:last-of-type {
                    background-color: #98D076;
                }
            }

            i {
                height: 1.5rem;
            }
        }

        &-4 {}
    }

    &__swap {
        @include debug-light;
        @include flex($a: flex-start);
        gap: .5rem;
        margin: .75rem 0;

        span {
            @include flex($d: column);
            gap: .75rem;

            i {
                @include equal(2rem);
                @include debug-dark;
                border-radius: 50%;
            }
        }

        >i {
            @include equal(1rem);
            @include debug-dark;
            margin-top: 2%;
            border-radius: 50%;
        }
    }

    &__description {
        @include debug-light;
        @include flex;
        gap: .25rem;
        margin: .75rem 0;
    }

    &__confirmation {
        margin-top: 1rem;
        width: 100%;
        height: 2.5rem;
        @include flex;

        button {
            height: inherit;
            width: 8.75rem;
            @include debug-light;
            border-radius: $radius + .125rem;
            text-transform: capitalize;
            cursor: pointer;
        }
    }
}