@use "../../../styles/"as *;

.nft_tabs {
    @include flex($j: flex-end);
    position: relative;

    &__wrapper {
        @include debug-light;
        @include flex;
        border-radius: $radius - .25rem;
    }

    &__button {
        width: 7.25rem;
        height: 2.25rem;

        span {
            text-transform: capitalize;
        }
    }

    &__dropdown {
        position: absolute;
    }
}