@use "./functions"as *;
@use "./variables"as *;

@mixin equal($h-w) {
    height: $h-w;
    width: $h-w;
}

@mixin flex($d: row, $j: center, $a: center) {
    display: flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
}

@mixin min-w($w:0, $p:100%) {
    width: min($w, $p);
}

@mixin max-w($w:0, $p:100%) {
    width: max($w, $p);
}

@mixin debug-light {
    outline: .25rem groove random-light-color();
}

@mixin debug-dark {
    outline: .25rem groove random-dark-color();
}

@mixin font($f, $s, $w) {
    font: {
        family: map-get($map: $ff, $key: $f);
        size: map-get($map: $fz, $key: $s);
        weight: map-get($map: $fw, $key: $w);
    }
}