@use "./mixins"as *;
@use "./variables"as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $black-200;
    color: $white-100;
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    @include flex;
}

img,
svg {
    @include equal(100%);
}

i {
    @include flex;
}

[data-group="wrapper"] {
    @include debug-light;
    @include min-w($screen-width);

    // width:min(90rem, 100% - 4rem);
}

[data-group="parent"] {
    @include debug-dark;
    @include flex;
}

// misc
.iekbcc0.iekbcc9.ju367v4.ju367va0.ju367vc6.ju367vs.ju367vt.ju367vv.ju367vff.ju367va.ju367v2b.ju367v2q.ju367v8u.ju367v94._12cbo8i3.ju367v8r._12cbo8i5._12cbo8i7 svg {
    @include equal(.625rem);
}