@use "./mixins"as *;
@use "./variables"as *;


// defaults

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    zoom: 90%;


    ::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    background-color: $purple-100;
    color: $white-100;
    background: url("/bg.png");
    background-size: cover;
    background-repeat: no-repeat;

}


// resets

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    @include flex;
}

img,
svg {
    @include equal(100%);
}

i {
    @include flex;
}


// misc

.app__wrapper {
    position: relative;
}

[data-group="wrapper"] {
    // @include debug-light;
    width: min($screen-width, 100% - 5rem);
}

[data-group="parent"] {
    // @include debug-dark;
    @include flex;
}

.iekbcc0.iekbcc9.ju367v4.ju367va0.ju367vc6.ju367vs.ju367vt.ju367vv.ju367vff.ju367va.ju367v2b.ju367v2q.ju367v8u.ju367v94._12cbo8i3.ju367v8r._12cbo8i5._12cbo8i7 svg {
    @include equal(.625rem);
}